@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    background-color: #D6E4E5;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImg {
    height: 32px;
    margin-right: 6px;
}

.logoName {
    color: #EB6440;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    row-gap: 20px;
}

main {
    flex: 3 1 60%;
}

aside {
    flex: 1 0 20%;
}